{"openapi":"3.0.2","info":{"title":"Uberduck Text To Speech API","version":"0.1.0"},"servers":[{"url":"https://api.uberduck.ai"},{"url":"http://localhost:8003"}],"paths":{"/reference-audio":{"get":{"summary":"List Reference Audios","description":"List a user's reference audios.","operationId":"list_reference_audios_reference_audio_get","parameters":[{"required":false,"schema":{"title":"Uuid","type":"string"},"name":"uuid","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response List Reference Audios Reference Audio Get","type":"array","items":{"$ref":"#/components/schemas/ReferenceAudioResponse"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]},"post":{"summary":"Add Reference Audio","description":"Submit reference audio.","operationId":"add_reference_audio_reference_audio_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_add_reference_audio_reference_audio_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddReferenceAudioResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/reference-audio/backing-tracks":{"get":{"summary":"List Backing Tracks","description":"List backing tracks.","operationId":"list_backing_tracks_reference_audio_backing_tracks_get","parameters":[{"required":false,"schema":{"title":"Detailed","type":"boolean","default":false},"name":"detailed","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/voices":{"get":{"summary":"Get Voices","description":"Get information on available voices.","operationId":"get_voices_voices_get","parameters":[{"required":true,"schema":{"title":"Mode","enum":["tts-basic","tts-reference","tts-all","v2v"],"type":"string"},"name":"mode","in":"query"},{"required":false,"schema":{"title":"Language","type":"string"},"name":"language","in":"query"},{"required":false,"schema":{"title":"Is Commercial","type":"boolean"},"name":"is_commercial","in":"query"},{"required":false,"schema":{"title":"Is Private","type":"boolean"},"name":"is_private","in":"query"},{"required":false,"schema":{"title":"Slim","type":"boolean","default":false},"name":"slim","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Voices Voices Get","type":"array","items":{"$ref":"#/components/schemas/VoiceReturn"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/voices/{voicemodel_uuid}/detail":{"get":{"summary":"Voice Detail","operationId":"voice_detail_voices__voicemodel_uuid__detail_get","parameters":[{"required":true,"schema":{"title":"Voicemodel Uuid","type":"string"},"name":"voicemodel_uuid","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceReturn"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/voices/{voicemodel_uuid}/samples":{"get":{"summary":"Fetch voice samples","description":"Return sample outputs from the specified VoiceModel.","operationId":"voice_samples_voices__voicemodel_uuid__samples_get","parameters":[{"required":true,"schema":{"title":"Voicemodel Uuid","type":"string"},"name":"voicemodel_uuid","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Voice Samples Voices  Voicemodel Uuid  Samples Get","type":"array","items":{"$ref":"#/components/schemas/Sample"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/tts/lyrics":{"post":{"summary":"Generate Lyrics","operationId":"generate_lyrics_tts_lyrics_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LyricsRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/tts/freestyle":{"post":{"summary":"Generate Freestyle","operationId":"generate_freestyle_tts_freestyle_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FreestyleRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/tts/convert":{"post":{"summary":"Voice To Voice Conversion","operationId":"voice_to_voice_conversion_tts_convert_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceConversionRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/train":{"post":{"summary":"Train","operationId":"train_train_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrainRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/speak-status":{"get":{"summary":"Get text-to-speech request status.","description":"Get the status of a speech request.","operationId":"get_speak_status_speak_status_get","parameters":[{"required":true,"schema":{"title":"Uuid","type":"string"},"name":"uuid","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpeakStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/speak":{"post":{"summary":"Generate Speech","description":"Synthesize speech asynchronously.\n\nVoice can be specified by providing either `voice` + `model_type`, or\n`voicemodel_uuid`.\n\n`Pace`, `duration`, and `pitch` are only supported for voices\nthat support these controls (a very small subset of voices).\n\nYou can check if a given voice supports controls by querying /voice-data or\n/voices/<voicemodel-uuid>/detail and looking at the `controls` boolean in\nthe reponse.","operationId":"generate_speech_speak_post","parameters":[{"required":false,"schema":{"title":"Uberduck-Id","type":"string","default":"anonymous"},"name":"uberduck-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UUID"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/speak-synchronous":{"post":{"summary":"Generate Speech Synchronously","description":"Synthesize speech synchronously.\n\nThis endpoint returns binary 16-bit wav data with a sample rate of 22050 Hz.\n\nVoice can be specified by providing either `voice` + `model_type`, or\n`voicemodel_uuid`.\n\n`Pace`, `duration`, and `pitch` are only supported for voices\nthat support these controls (a very small subset of voices).\n\nYou can check if a given voice supports controls by querying /voice-data or\n/voices/<voicemodel-uuid>/detail and looking at the `controls` boolean in\nthe reponse.","operationId":"generate_speech_synchronously_speak_synchronous_post","parameters":[{"required":false,"schema":{"title":"Uberduck-Id","type":"string","default":"anonymous"},"name":"uberduck-id","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/voice-stats":{"get":{"summary":"Get Voice Stats","description":"Get usage and quality statistics on provided voices","operationId":"get_voice_stats_voice_stats_get","parameters":[{"required":false,"schema":{"title":"Username","type":"string"},"name":"username","in":"query"},{"required":false,"schema":{"title":"Voicemodel Uuid","type":"array","items":{"type":"string"}},"name":"voicemodel_uuid","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Get Voice Stats Voice Stats Get","type":"array","items":{"$ref":"#/components/schemas/VoiceStats"}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/voice-data":{"get":{"summary":"Get Voice","description":"Get information on a particular voice","operationId":"get_voice_voice_data_get","parameters":[{"required":true,"schema":{"title":"Name","type":"string"},"name":"name","in":"query"},{"required":false,"schema":{"title":"Architecture","type":"string"},"name":"architecture","in":"query"},{"required":false,"schema":{"title":"Mode","enum":["tts-basic","tts-reference","v2v"],"type":"string"},"name":"mode","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceReturn"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearerWithCookie":[]},{"OAuth2PasswordImplicit":[]},{"HTTPBasic":[]},{"HTTPBearer":[]}]}},"/g2p":{"get":{"summary":"Convert English to IPA or ARPAbet phonemes","description":"Convert English to IPA or ARPAbet phonemes.","operationId":"g2p_g2p_get","parameters":[{"required":true,"schema":{"title":"Text","type":"string"},"name":"text","in":"query"},{"required":false,"schema":{"title":"Phones","enum":["ipa","arpabet"],"type":"string","default":"arpabet"},"name":"phones","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/G2PResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AddReferenceAudioResponse":{"title":"AddReferenceAudioResponse","required":["uuid"],"type":"object","properties":{"uuid":{"title":"Uuid","type":"string"},"name":{"title":"Name","type":"string"},"transcription":{"title":"Transcription","type":"string"}}},"BackingTrackOptions":{"title":"BackingTrackOptions","type":"object","properties":{"genre":{"title":"Genre","enum":["bhangra","desi","hip-hop","tropical","pop","r&b","trap"],"type":"string","default":"hip-hop"}}},"Body_add_reference_audio_reference_audio_post":{"title":"Body_add_reference_audio_reference_audio_post","type":"object","properties":{"name":{"title":"Name","type":"string"},"reference_audio":{"title":"Reference Audio","type":"string","format":"binary"},"transcription":{"title":"Transcription","type":"string"},"is_private":{"title":"Is Private","type":"boolean","default":false},"save":{"title":"Save","type":"boolean","default":false},"transcribe":{"title":"Transcribe","type":"boolean","default":false}}},"DatasetSpeaker":{"title":"DatasetSpeaker","type":"object","properties":{"dataset_uuid":{"title":"Dataset Uuid","type":"string"},"dataset_audio_file_uuid":{"title":"Dataset Audio File Uuid","type":"string"},"speaker_id":{"title":"Speaker Id","type":"integer","default":0}}},"FreestyleRequest":{"title":"FreestyleRequest","type":"object","properties":{"subject":{"title":"Subject","type":"string"},"lines":{"title":"Lines","type":"integer"},"lyrics":{"title":"Lyrics","type":"array","items":{"type":"array","items":{"type":"string"}}},"bpm":{"title":"Bpm","type":"number"},"backing_track":{"title":"Backing Track","anyOf":[{"type":"string"},{"$ref":"#/components/schemas/BackingTrackOptions"}]},"voice":{"title":"Voice","type":"string"},"voicemodel_uuid":{"title":"Voicemodel Uuid","type":"string"},"title":{"title":"Title","type":"string"},"format":{"title":"Format","enum":["json"],"type":"string","default":"json"},"generate_title":{"title":"Generate Title","type":"boolean","default":true}}},"G2PResponse":{"title":"G2PResponse","required":["arpabet","lookups"],"type":"object","properties":{"arpabet":{"title":"Arpabet","type":"string"},"lookups":{"title":"Lookups","type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"LyricsRequest":{"title":"LyricsRequest","type":"object","properties":{"subject":{"title":"Subject","type":"string"},"lines":{"title":"Lines","type":"integer"},"backing_track":{"title":"Backing Track","type":"string"},"generate_title":{"title":"Generate Title","type":"boolean","default":true}}},"Memberships":{"title":"Memberships","required":["name","id"],"type":"object","properties":{"name":{"title":"Name","type":"string"},"id":{"title":"Id","type":"integer"}}},"MixItem":{"title":"MixItem","required":["type","url"],"type":"object","properties":{"type":{"title":"Type","enum":["audio","video"],"type":"string"},"url":{"title":"Url","type":"string"}}},"ReferenceAudioResponse":{"title":"ReferenceAudioResponse","required":["uuid","name","url"],"type":"object","properties":{"uuid":{"title":"Uuid","type":"string"},"name":{"title":"Name","type":"string"},"transcription":{"title":"Transcription","type":"string"},"url":{"title":"Url","type":"string"}}},"Sample":{"title":"Sample","required":["transcription","url"],"type":"object","properties":{"transcription":{"title":"Transcription","type":"string"},"url":{"title":"Url","type":"string"}}},"SpeakStatusResponse":{"title":"SpeakStatusResponse","required":["started_at"],"type":"object","properties":{"failed_at":{"title":"Failed At","type":"string","format":"date-time"},"finished_at":{"title":"Finished At","type":"string","format":"date-time"},"meta":{"title":"Meta","type":"object"},"path":{"title":"Path","type":"string"},"started_at":{"title":"Started At","type":"string","format":"date-time"}}},"TTSRequest":{"title":"TTSRequest","required":["speech"],"type":"object","properties":{"speech":{"title":"Speech","maxLength":1000,"minLength":1,"type":"string"},"voice":{"title":"Voice","type":"string","default":"lj"},"model_type":{"title":"Model Type","type":"string"},"voicemodel_uuid":{"title":"Voicemodel Uuid","type":"string"},"pace":{"title":"Pace","type":"number","default":1.0},"duration":{"title":"Duration","type":"array","items":{"type":"number"}},"pitch":{"title":"Pitch","type":"array","items":{"type":"number"}}}},"TrainRequest":{"title":"TrainRequest","type":"object","properties":{"name":{"title":"Name","type":"string"},"model_type":{"title":"Model Type","type":"string","default":"tacotron2"},"description":{"title":"Description","type":"string"},"base_model_uuid":{"title":"Base Model Uuid","type":"string","default":"fce8c66f-6359-44c5-8bd4-f4d912f38da7"},"data":{"title":"Data","type":"array","items":{"$ref":"#/components/schemas/DatasetSpeaker"}},"device_count":{"title":"Device Count","type":"integer","default":1},"rank":{"title":"Rank","type":"integer","default":0},"epochs":{"title":"Epochs","type":"integer","default":100},"batch_size":{"title":"Batch Size","type":"integer","default":8},"learning_rate":{"title":"Learning Rate","type":"number","default":0.0005},"ignored_layers":{"title":"Ignored Layers","type":"array","items":{"type":"string"},"default":["speaker_embedding.weight","spkr_lin.weight","spkr_lin.bias"]},"save_on_finish":{"title":"Save On Finish","type":"boolean","default":true},"is_cleaned":{"title":"Is Cleaned","type":"boolean","default":true},"epochs_per_checkpoint":{"title":"Epochs Per Checkpoint","type":"integer","default":10},"is_torchmoji":{"title":"Is Torchmoji","type":"boolean","default":true},"is_multispeaker":{"title":"Is Multispeaker","type":"boolean","default":true},"is_speaker_encoder":{"title":"Is Speaker Encoder","type":"boolean","default":false}}},"UUID":{"title":"UUID","required":["uuid"],"type":"object","properties":{"uuid":{"title":"Uuid","type":"string"}}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"type":"string"}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}},"VoiceConversionRequest":{"title":"VoiceConversionRequest","required":["voicemodel_uuid"],"type":"object","properties":{"voicemodel_uuid":{"title":"Voicemodel Uuid","type":"string"},"input":{"title":"Input","type":"string"},"reference_audio_uuid":{"title":"Reference Audio Uuid","type":"string"},"pitch_shift":{"title":"Pitch Shift","type":"integer","default":0},"mix":{"title":"Mix","type":"array","items":{"$ref":"#/components/schemas/MixItem"}}}},"VoiceReturn":{"title":"VoiceReturn","required":["display_name","is_private","name"],"type":"object","properties":{"added_at":{"title":"Added At","type":"string","format":"date-time"},"architecture":{"title":"Architecture","type":"string"},"category":{"title":"Category","type":"string"},"contributors":{"title":"Contributors","type":"array","items":{"type":"string"}},"controls":{"title":"Controls","type":"boolean"},"display_name":{"title":"Display Name","type":"string"},"is_active":{"title":"Is Active","type":"boolean"},"model_id":{"title":"Model Id","type":"string"},"memberships":{"title":"Memberships","type":"array","items":{"$ref":"#/components/schemas/Memberships"}},"is_private":{"title":"Is Private","type":"boolean"},"is_primary":{"title":"Is Primary","type":"boolean"},"name":{"title":"Name","type":"string"},"voice_actor":{"title":"Voice Actor","type":"string"},"tags":{"title":"Tags","type":"array","items":{"type":"string"}},"images":{"title":"Images","type":"array","items":{"type":"string"}},"samples":{"title":"Samples","type":"array","items":{"$ref":"#/components/schemas/Sample"}},"symbol_set":{"title":"Symbol Set","type":"string"},"voicemodel_uuid":{"title":"Voicemodel Uuid","type":"string"},"hifi_gan_vocoder":{"title":"Hifi Gan Vocoder","type":"string"},"ml_model_id":{"title":"Ml Model Id","type":"integer"},"speaker_id":{"title":"Speaker Id","type":"integer"},"language":{"title":"Language","type":"string"}}},"VoiceStats":{"title":"VoiceStats","required":["voice","voicemodel_uuid","n_requests","likes","dislikes"],"type":"object","properties":{"voice":{"title":"Voice","type":"string"},"voicemodel_uuid":{"title":"Voicemodel Uuid","type":"string"},"n_requests":{"title":"N Requests","type":"integer"},"likes":{"title":"Likes","type":"integer"},"dislikes":{"title":"Dislikes","type":"integer"}}}},"securitySchemes":{"OAuth2PasswordBearerWithCookie":{"type":"oauth2","flows":{"password":{"scopes":{},"tokenUrl":"/token"}}},"OAuth2PasswordImplicit":{"type":"oauth2","flows":{"implicit":{"scopes":{},"authorizationUrl":"http://localhost:3000/login"},"password":{"scopes":{},"tokenUrl":"/token"}}},"HTTPBasic":{"type":"http","scheme":"basic"},"HTTPBearer":{"type":"http","scheme":"bearer"}}}}